Jawaban 4A

In [4]:
import pandas as pd
import numpy as np

Jawaban 4B

In [9]:
df = pd.read_csv('Iris.csv')
print(df)

    Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0                        1,5.1,3.5,1.4,0.2,Iris-setosa
1                        2,4.9,3.0,1.4,0.2,Iris-setosa
2                        3,4.7,3.2,1.3,0.2,Iris-setosa
3                        4,4.6,3.1,1.5,0.2,Iris-setosa
4                        5,5.0,3.6,1.4,0.2,Iris-setosa
..                                                 ...
145                 146,6.7,3.0,5.2,2.3,Iris-virginica
146                 147,6.3,2.5,5.0,1.9,Iris-virginica
147                 148,6.5,3.0,5.2,2.0,Iris-virginica
148                 149,6.2,3.4,5.4,2.3,Iris-virginica
149                 150,5.9,3.0,5.1,1.8,Iris-virginica

[150 rows x 1 columns]

Jawaban 4C

In [12]:
print(df.dtypes)

Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species    object
dtype: object

Jawaban 4D

Tipe data dari dataset diatas ialah : Object

Jawaban 4E

In [13]:
row_count = df.shape[0]
print(row_count)

150

Jawaban 4F

In [ ]:
df_subsets = df[['Id', 'Species']]
print(df_subsets)

Jawaban 4G

In [17]:
print(df.iloc[0:10])

  Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0                      1,5.1,3.5,1.4,0.2,Iris-setosa
1                      2,4.9,3.0,1.4,0.2,Iris-setosa
2                      3,4.7,3.2,1.3,0.2,Iris-setosa
3                      4,4.6,3.1,1.5,0.2,Iris-setosa
4                      5,5.0,3.6,1.4,0.2,Iris-setosa
5                      6,5.4,3.9,1.7,0.4,Iris-setosa
6                      7,4.6,3.4,1.4,0.3,Iris-setosa
7                      8,5.0,3.4,1.5,0.2,Iris-setosa
8                      9,4.4,2.9,1.4,0.2,Iris-setosa
9                     10,4.9,3.1,1.5,0.1,Iris-setosa

Jawaban 4H

In [ ]:
df_subset2 = df[['Id', 'Species']].iloc[11:16]
print(df_subset2)

Jawaban 4I

In [19]:
print(df.head(8))

  Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0                      1,5.1,3.5,1.4,0.2,Iris-setosa
1                      2,4.9,3.0,1.4,0.2,Iris-setosa
2                      3,4.7,3.2,1.3,0.2,Iris-setosa
3                      4,4.6,3.1,1.5,0.2,Iris-setosa
4                      5,5.0,3.6,1.4,0.2,Iris-setosa
5                      6,5.4,3.9,1.7,0.4,Iris-setosa
6                      7,4.6,3.4,1.4,0.3,Iris-setosa
7                      8,5.0,3.4,1.5,0.2,Iris-setosa